@use '../../style/shared/shared';

.Register {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 auto;
    width: 30rem;
    margin-top: 1rem;

    &__field, &__submit {
        margin: 0.3rem;
    }

    &__field {
        outline: 2px solid #282828;
        border-radius: 5px;
        box-shadow: 0 0 0.5rem 0 black;
        padding: 1.5rem;

        &:nth-child(1) {
            label {
                padding-top: 0;
            }
        }

        label {
            display: inline-block;
            padding: 0.4rem 0;
        }

        input {
            @extend %shared-input;
            display: block;

            &:focus {
                border-color: white
            }
        }
    }

    &__eye {
        @extend %default-button;

        display: inline-block;
        padding-top: 0.2rem;
        // background-color: #333;

    }

    &__submit {
        @extend %default-button;

        width: max-content;
        border: 3px solid #555;
        padding: 0.5rem 2.5rem;
        border-radius: 15px;

        transition: all 50ms ease-out;

        &:hover {
            border-color: deepskyblue;
            transform: translateY((-2px));
            box-shadow: 0 0.3rem 0 -0.1rem black;
        }

        &:active, &:focus {
            border-color: white;
        };

        &:active, &:focus, &:hover {
            background-color: #292929;
        }
    }
}