.Window {
    min-height: 100vh;
    min-width: 100vw;
    color: var(--text-1);
    background-color: var(--background-2);
}

.App {
    transition: background-color 150ms ease-out, color 100ms ease-out;
}