@use '../../style/shared/shared';

$width: 4rem;

.HabitEntry {
    width: shared.$width;
    margin: shared.$timeline-entry-margin;
    display: flex;
    background-color: #1a1a1a;
    justify-content: space-evenly;
    padding: 0.8rem 0;
}

.__weekly {
    $color-main: #444;
    $color-secondary: #555;
    box-shadow: 0.5rem 0.5rem 0 -0.4rem $color-main, -0.5rem -0.5rem 0 -0.4rem $color-secondary, 0 0 0.5rem black;
    border-radius: 0;
}