$width: 6rem;

$timeline-entry-margin: 0 1rem;

$habitNameWidth: 10rem;
$habitEntryWidth: 5rem;
$timelineEntryMarginX: 1rem;
$compactHabitButtonWidth: 5rem;

$habitEntryMarginSmall: 0.3rem;

%default-button {
    border: none;
    outline: none;
    padding: none;
    margin: none;
    color: var(--light);
    background: none;
}

%shared-input {
    outline: none;
    border: none;

    background-color: var(--main);
    padding: 0.4rem;
    color: var(--light);
    border-radius: 5px;
    border: 2px solid var(--tertiary);
}

%outline-active {
    &:hover,
    &:active,
    &:focus {
        transition: border-color 60ms ease-out;
        border-color: var(--light);
    }
}

%box {
    border: 3px solid var(--secondary);
    box-shadow: 0 0 0.8rem 0 #111;
}

%row-between {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

%page-title {
    $color: var(--light-subdued);
    display: flex;
    margin-bottom: 1rem;
    width: max-content;
    border-bottom: 0.4rem solid $color;
    color: $color;
    padding-left: 2rem;
    justify-content: end;
}

$last-entry-margin: none;

%outline-today {
    // outline: 3px solid #333;
}
