$width: 6rem;

$timeline-entry-margin: 0 1rem;

$habitNameWidth: 10rem;
$habitEntryWidth: 5rem;
$timelineEntryMarginX: 1rem;
$compactHabitButtonWidth: 5rem;

$habitEntryMarginSmall: 0.3rem;

%default-button {
    border: none;
    outline: none;
    padding: none;
    margin: none;
    color: azure;
    background: none;
}

%shared-input {
    outline: none;
    border: none;

    background-color: #222;
    padding: 0.4rem;
    color: azure;
    border-radius: 5px;
    border: 2px solid #444;

}