.HabitRangeInstance {
    display: flex;
    align-items: center;

    flex-direction: column;

    gap: 0.5rem;

    &__slider {
        width: 5rem;
        max-width: 5rem;

        -webkit-appearance: none;

        display: flex;
        justify-content: center;
        align-items: center;

        &::-webkit-slider-runnable-track {
            height: 0.15rem;
            background-color: #ccc;
        }

        &--input {
            width: 3.5rem;
            font-size: 0.7rem;
            outline: none;
            border: none;
            background-color: var(--main);
            color: azure;
            padding: 0.3rem;
            border-radius: 10px;
            text-align: center;
            -moz-appearance: textfield;
            appearance: textfield;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                opacity: 0;
            }
        }
    }
}

.completed,
.underway,
.incomplete {
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: -0.4rem;
        background-color: deepskyblue;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;

        transition: all 50ms ease-in;

        &:active {
            transform: scale(1.2);

            &::after {
                content: "-";
                width: 2rem;
                height: 2rem;
                border: 10px solid black;
            }
        }
    }
}

.completed {
    &::-webkit-slider-thumb {
        background-color: forestgreen;

        &:active {
            background-color: green;
        }
    }
}

.underway {
    &::-webkit-slider-thumb {
        background-color: yellowgreen;

        &:active {
            background-color: greenyellow;
        }
    }
}

.incomplete {
    &::-webkit-slider-thumb {
        background-color: var(--tertiary);

        &:active {
            background-color: var(--light);
        }
    }
}
