.HabitRangeInstance {
    display: flex;
    align-items: center;

    gap: 1rem;

    &__slider {
        width: 5rem;
        // .MuiSlider-thumb {
        //     border-radius: 0;
        //     color: orangered;
        // }

        &--input {
            width: 3rem;
            outline: none;
            border: none;
            border-bottom: 1px solid skyblue;
        }
    }



}