.HabitRangeInstance {
    display: flex;
    align-items: center;

    padding: 2rem;

    gap: 1rem;

    &__slider {
        width: 5rem;
        max-width: 5rem;

        &--input {
            width: 3rem;
            outline: none;
            border: none;
            border-bottom: 1px solid skyblue;
        }
    }



}