@use "../../../style/shared/shared";

.Button {
    @extend %default-button;

    $size: 2.5rem;

    display: flex;

    align-self: center;
    border: 0.2rem solid #333;
    margin-top: 2rem;
    background-color: var(--dark-tint);
    color: white;
    width: $size;
    height: $size;
    justify-content: center;

    border-radius: 50%;
    transition: all 50ms ease;
    align-items: center;

    &:hover {
        border-radius: 10px;
        background-color: #333;
    }
}

.Plus {
    display: flex;
    align-items: center;
    height: 100%;
}
