@use "../../style/shared/color";
@use "../../style/shared/shared";

.Title {
    @extend %page-title;
}

.Habits {
    display: flex;
    flex-direction: column;
    width: max-content;

    padding: 0 2rem;

    @media screen and (min-width: 1080px) {
        margin: 0 auto;
    }
}

.Header {
    display: grid;
    position: sticky;
    z-index: 2000;
    top: 5rem;
    grid-template-columns: shared.$habitNameWidth 1fr;
    align-items: center;
    background-color: var(--background);
    padding: 1rem 0;
    outline: 3px solid var(--secondary);
    padding-right: 4.7rem;
    box-shadow: 0 0.5rem 0.2rem -0.3rem black;
}

.Message {
    padding: 2rem;
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 0.5em;
    outline: 2px solid var(--secondary);
    color: var(--light);
}
