@use "../../style/shared/color";
@use "../../style/shared/shared";

.Habits {
    display: flex;
    flex-direction: column;
    width: max-content;

    margin: 0 auto;
    padding: 0 2rem;
}

.Header {
    display: grid;
    grid-template-columns: shared.$habitNameWidth 1fr;
    height: 2.4rem;
}
