@use "../../style/shared/color";
@use "../../style/shared/shared";

.Habits {
    display: flex;
    flex-direction: column;
    width: max-content;

    margin: 0 auto;
    padding: 0 2rem;
}

.Header {
    display: grid;
    position: fixed;
    z-index: 2000;
    top: 5rem;
    grid-template-columns: shared.$habitNameWidth 1fr;
    align-items: center;
    background-color: color.$background;
    padding: 1rem 0;
    outline: 2px solid color.$secondary;
    padding-right: 4.7rem;
    border-radius: 3px;
}
