$field-width: 15rem;

.NewHabit {
    color: azure;

    box-shadow: 0 0 1rem -0.2rem black;
    width: max-content;
    padding: 0;
    margin: 0;
    height: max-content;

    display: inline-flex;
    gap: 0.5rem;

    &__field, &__field--frequency, &__field--date {
        background-color: #222;
        display: inline-flex;
        flex-direction: column;

        margin: 0;

        box-shadow: 0.5rem 0.5rem 1rem -0.7rem black;
        padding: 0.25rem 0.75rem;

        .field__group {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__field {
        &--frequency {

            input {
                width: 2.5rem;
            }

            select {
                width: 4rem;
            }

            span {
                margin: 0 0.3rem;
            }

            section {
                height: 100%;
                align-items: center;
                display: inline-flex;
            }
        }

        &--date {
            section {
                display: flex;
                label {
                    border: none;
                    width: 2.5rem;
                }
                input[type=date] {
                    width: 8.5rem;
                }
            }
        }

        select {
            width: 10rem;
        }

        input {
            width: 12rem;
        }
    }
}