@use "../../../style/shared/shared";

.HabitToggleInstance {
    $size: 1.5rem;

    background: none;
    outline: 2px solid transparent;

    display: inline-flex;
    min-width: $size;
    min-height: $size;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    width: $size;
    height: $size;
    margin: 0.2rem 0.5rem;
    user-select: none;

    border: 1px solid var(--secondary);
    border-radius: 50%;

    transition: all 100ms ease-out;

    &:hover {
        outline: 2px solid var(--tertiary);
    }

    &:focus {
        outline: 3px solid var(--light);
    }
}

.Button {
    transition: all 100ms linear;
    &:hover {
        fill: green !important;
    }
}
