@use '../../style/shared/shared';

.Button {
    @extend %default-button;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-width: 3rem;
    height: 100%;
    margin: 0 0.8rem;
    display: flex;
    justify-content: center;
    background-color: #181818;
    border-radius: 10%;

    transition: all 80ms linear;
    box-shadow: 0 0 0 0.15rem #333;
    // box-shadow: 0.2rem 0.2rem 0 0.1rem slateblue, -0.2rem -0.2rem 0 0.1rem deepskyblue;

    &:hover {
        background-color: #333;
        border-radius: 5px;
        // box-shadow: -0.2rem 0.2rem 0 0.1rem slateblue, 0.2rem -0.2rem 0 0.1rem deepskyblue;
    }
}

.Expand, .Close {
    width: 2rem;
    height: 2rem;
    padding: 0.65rem;
    transition: all 20ms ease-in-out;
    transform: scale(1.1);
}

.Expand {
    transform: rotate(45deg);

    &:hover {
        transform: rotate(-45deg);
    }
}

.Close {
    transition: transform 50ms ease-in;

    transform: scale(1.5);
}