@use '../../style/shared/shared';

.CompactHabit {
    outline: 1px solid #222;
    width: max-content;

    display: flex;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 1rem 0 black;
    margin: 0.8rem 0;
    border: 1px solid #333;
    border-radius: 10px 0;

    align-items: center;

    &__name {
        font-weight: 500;
        font-size: 1rem;
        padding: 0rem;
        width: shared.$habitNameWidth;  // match shared.$width - shared.$timeline-entry-margin (horizontal part)
    }

    &__list {
        display: flex;
        flex-direction: row;
    }
}