@use "../../style/shared/shared";
@use "../../style/shared/color";

.CompactHabit {
    outline: 1px solid #222;
    width: 100%;
    display: flex;
    padding: 0.8rem 1rem;
    box-shadow: 0rem 0.2rem 0.5rem 0 color.$dark-tint;
    border: 1px solid #333;
    border-radius: 2px;
    height: max-content;
    background-color: #1e1e1e;
    align-items: center;

    &:nth-of-type(1) {
        margin-top: 1rem;
    }

    &:hover {
        // transform: scale(1.01);
        background: linear-gradient(to right, #1e1e1e 25%, color.$main);
    }
}

.NameField {
    $shadow: 0 0.1em 0.3em 0 color.$dark-tint;
    display: flex;
    font-weight: 500;
    min-height: 3rem;
    background-color: color.$main;
    box-shadow: $shadow;
    border-radius: 5px;
    align-items: center;
    padding-left: 1rem;
    border: 2px solid transparent;

    width: shared.$habitNameWidth; // match shared.$width - shared.$timeline-entry-margin (horizontal part)

    transition: all 55ms ease-in-out;

    &:hover {
        transform: translateX(0.3rem);
        box-shadow: $shadow, -0.3em 0 0 -0.1rem #666;
    }

    span {
        user-select: none;
        font-size: 0.95em;
        display: inline-flex;
        width: shared.$habitNameWidth;
        height: 100%;
    }

    &__input {
        width: 100%;
        background-color: inherit;
        line-height: 100%;
        color: inherit;
    }
}

.List {
    display: flex;
    flex-direction: row;

    li {
        &:nth-last-of-type(1) {
            margin-left: shared.$last-entry-margin;
            @extend %outline-today;
        }
    }
}

.Button {
    @extend %default-button;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-width: 3rem;
    height: 100%;
    margin: 0 0.8rem;
    display: flex;
    justify-content: center;
    background-color: #181818;
    border-radius: 10%;
    box-shadow: 0 0 0 0.15rem #333;

    transition: all 80ms linear;

    &:hover {
        background-color: #333;
        border-radius: 5px;
    }
}

.Expand,
.Close {
    width: 2rem;
    height: 2rem;
    padding: 0.65rem;
    transition: all 20ms ease-in-out;
    transform: scale(1.1);
}

.Expand {
    transform: rotate(45deg);

    &:hover {
        transform: rotate(-45deg);
    }
}

.Close {
    transition: transform 50ms ease-in;

    transform: scale(1.5);
}
