.CompactHabit {
    display: flex;
    align-items: center;
    gap: 1rem;
    outline: 2px solid deepskyblue;
    padding: 0.5rem 1rem;

    span {
        display: inline-flex;
    }

    &__name {
        width: 10rem;
        justify-content: flex-start;
    }

    &__completion {
        gap: 1rem;
    }
}