@use '../../style/shared/shared';

.CompactHabit {
    outline: 1px solid yellow;

    display: flex;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 1rem 0 black;
    margin: 0.8rem 1rem;
    border: 1px solid #333;
    border-radius: 10px 0;

    align-items: center;

    &__name {
        font-weight: 500;
        font-size: 1.1rem;
        padding: 0 1rem;
    }
}